<%= form_with(model: partida, local: true) do |form| %>
  <% if partida.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(partida.errors.count, "error") %> prohibited this partida from being saved:</h2>

      <ul>
      <% partida.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label "Selecionar Jogadores" %>
    <%= collection_check_boxes(:User, :user_id, User.all, :id ,:nome) %>
  </div>

  <div class="field">
    <%= form.label :Data %>
    <%= form.date_select :Data %>
  </div>

  <div class="field">
    <%= form.label :Local %>
    <%= form.text_field :Local %>
  </div>

  <div class="field">
    <%= form.label :Horario %>
    <%= form.time_select :Horario %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
