<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @user.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @user.idade %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @user.telefone %>
</p>




<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Voltar', users_path %>
